services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: agnos
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d agnos"]
      interval: 5s
      timeout: 5s
      retries: 10

  app:
    build: .
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/agnos?sslmode=disable
      JWT_SECRET: ky2>B(#0sB65D9Mj
      TOKEN_TTL_HOURS: 24
      HOSPITAL_A_BASE_URL: https://hospital-a.api.co.th
    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:1.27-alpine
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "8088:80"
    depends_on:
      - app
